<!DOCTYPE html>
<html>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Cook It Up</title>
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/elastic_grid.css"/>
    <link rel="stylesheet" type="text/css" href="/js/angular-elastic-grid/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--     <link rel="stylesheet" type="text/css" href="/css/default.css"> -->
<!--     <link rel="stylesheet" type="text/css" href="/css/component.css"> -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">     <!-- Javscript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/classie.js"></script>
     
     

    <!-- compress version-->
    <script type="text/javascript" src="/js/elastic_grid.min.js"></script>
    <script type="text/javascript" src="/js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="/js/jquery.hoverdir.js"></script>


   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="/js/angular-elastic-grid/angular-elastic-grid.js"></script>

    <script src="/components/service/apiSearch.js"></script>    
    <script src="/search/search.js"></script>
    <script src="/app.js"></script>
    <script src="/view2/recipe-entry.js"></script>

</head>

<body ng-app="CookItUp">
    <nav class="navbar navbar-default" role="navigation" class="clearfix">
        <div class="container-fluid">
            <!-- add header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CookItUp</a>
            </div>
            <!-- add menu -->
            <div class="collapse navbar-collapse" id="navbar1" ng-controller="MainController">
                <ul class="nav navbar-nav navbar-right">
                    <% if (!user) { %>
                    <li>
                        <a href="/login">
                            <p><span><i class="material-icons">person</i></span> Login</p>
                        </a>
                    </li>
                    <% } %>
                    <% if (user) { %>
                    <li>
                        <a href="/logout">
                            <p><span><i class="material-icons">person</i></span> Logout</p>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModal" href="#">
                            <p><span><i class="material-icons" >library_add</i></span> Add Recipe</p>
                        </a>
                    </li>
                    <% } %>
                </ul>

                <!-- search form -->
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input ng-model="searchQuery" type="text" class="form-control" placeholder="Search for Recipe">
                        <span class="input-group-btn">
                        <button ng-click="search(searchQuery)" type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </nav>


    <div ng-view>my view</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Your Recipe</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'/view2/recipe-entry.html'"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<div id="elastic_grid_demo"></div>
  
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<!-- random change -->
<!-- <div id="elastic_grid_demo"></div>
 -->



    <br>
    <div id="footer">
        &copy;Copyright CookItUp 2016
        <br>
        <a href="https://github.com/jenforce/cookitup"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--     <script>
    $(function() {
        Grid.init();
    });
    </script>    -->

<!--     <script type="text/javascript">$(".button").toggle(function() {
          $(this).text("DON'T PUSH ME");
        }, function() {
          $(this).text("PUSH ME");
        });</script> -->
</body>

</html>
