body {
    background-image: url("/img/images/seamless_paper_texture.png");
}

nav.navbar.navbar-default {
    background-color: beige;
    color: white;
}

.header md-toolbar md-icon.md-default-theme {
    color: white;
}

.carddemoBasicUsage .card-media {
    background-color: #999999;
}

.md-card-image {
    height: 375px;
    width: 450px;
}

.md-headline {
    padding-bottom: 10px;
}

.img {
    width: 250px;
    height: 250px;
}

#footer {
    height: 100px;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: beige;
    line-height: 4em;
}

.fa-2x {
    font-size: 2em;
    padding: 10px;
}

